.skill{
    margin:1rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillname{
    padding:1rem;
    margin: 1rem;
    color:#dadbe3;
    font-size: 1.5rem;
}

.skillname:hover{
    color:#fff;
}