.popup{
    position: fixed;
    left:0;
    top:0;
    height: 100vh;
    width:100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 200;
    opacity: 0;
    transition: opacity 4s ease-in;

}

.popup_show{
    opacity: 1;
}

.popup__content{
    z-index: 201;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 70%;
    /* height: 100%; */
    box-shadow:  0 2rem 4rem rgba(0,0,0,0.2);
    border-radius: 4px;
}

.popup__image{
    height: 70vh;
    width:100%;
}

.img{
    height: 100%;
    width:100%;
}

.slides{
    display: flex;
    width: 120%;
    height: 18vh;
    margin-top: 2rem;
    flex-wrap: wrap;

}

.slides img{
    width: 15rem;
    margin: 0  1rem 1rem 0;
}

@media screen and (max-width:700px){

    .slides img{
        width: 10rem;
    }

    .slides{
        height: 10rem;
    }
}

@media screen and (max-width:900px){
    .popup__content{
        width: 85%;
    }

    .popup__image{
        height: 65vh;
    }
}

@media screen and (max-width:800px){

    .popup{
        display: none;
    }

    .popup__content{
        display: none;
    }
}