.popup{
    position: fixed;
    left:0;
    top:0;
    height: 100vh;
    width:100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 2000000;
    opacity: 0;
    transition: opacity 4s ease-in;
}

.popup_show{
    opacity: 1;
}

.popup__content{
    z-index: 2000001;
    position: fixed;
    top:0;
    left:0;
    width:80%;
    height: 80%;
    box-shadow:  0 2rem 4rem rgba(0,0,0,0.2);
    border-radius: 4px;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
}

.swiper-container{
    position: absolute !important;
    width: 100%;
    height: 100%;
}

.swiper-slide{
    width:100% !important;
    display: flex;
    justify-content:center; 
}

.swiper-slide img{
    height: 95%;
    width:90%;
    margin-left: 10px;
    margin-right: 10px;

}

.swiper-button-next {
    color:#fff;
}
.swiper-button-prev{
    color:#fff;
}

.swiper-pagination-bullet{
    background:#fff;
}


@media screen and (max-width:900px){
    .swiper-slide img{
        height:80%;
        width:85%;   
    }

    .container-horizontal > .swiper-pagination-bullets{
        bottom:8rem;
    }
}

@media screen and (max-width:850px){
    .swiper-slide img{
        height:70%;
        width:80%;
    }
}

@media screen and (max-width:700px){

    .popup{
        display: none;
    }

    .popup__content{
        display: none;
    }
}