.skill{
    height:100vh;
    width:100vw;
    background-color: #ccc;
    margin: 20px;;
}



.image_box{
    border:2px solid red;
    position: absolute;
    left:0;
    top:0;
    height: 80px;
    width:100%;
    background: -webkit-linear-gradient(0deg, transparent 50%, orangered 50%);
    background-size: 200% 80px;
    z-index: 10;
}

.image{

    height: 80px;
    width: 250px;
    position: relative;
    overflow: hidden;


}

img{

    z-index: -1;
    position: absolute;
    height: 120%;
    width:120%;
    left:0;
    top:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
    z-index: 8;

    transition: height 2s ease 2.5s,
                width 2s ease 2.5s;

}

.image_scale{
    height: 100%;
    width:100%;
}



.active{

    animation: increase 2.5s cubic-bezier(0.16, 1, 0.3, 1) 1s;
    
}

@keyframes increase{

    50%{
        background-position: -100% 80px;

    }

    100%{
        background-position: -200%  80px;
    }
}


