.footer{
    height:5rem;
    background-color: #212121;
    color:#fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.icon{
    height: 2rem;
    fill:#fff;
    margin:0 1rem;
    transition: fill 0.3s ease-out;
}
.icon_heart{
    height:1.5rem;
}

.icon:hover{
    fill:#98999A;
}